<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="trackdata" connectionString="Data Source=192.168.10.6,1433\\SQLExpress;Initial Catalog=tjbusgpsdb;Integrated Security=False;User ID=tjbusgpsdb;Password=tjbusgpsdb;"></add>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
